.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-menu li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #8000ff;
    transition: width 0.3s ease;
}

.nav-menu li:hover {
    color: #b05cff;
}

.nav-menu li:hover::after {
    width: 100%;
}

.logo {
    width: 125px;
    height: auto;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.nav-connect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #b923e1a2;
}
